@using Domain.Data.Entities
@inject IOptionsSnapshot<Roles> _roles;

@model ProfileVM
@{
    var num = Model.PhoneNo;
    Layout = "_DashboardLayout";
    Roles roles = _roles.Value;

}
<link rel="stylesheet" href="~/cssViews/UserProfile.css">

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body p-8">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h2 class="card-title ">Të dhënat personale</h2>
                        </div>
                        @if (User.IsInRole(roles.KryetarIPartise))
                        {
                            <div>
                                <partial name="_ManualiAdminBusinessUserProfilePartial"></partial>
                            </div>
                        }
                        @if (User.IsInRole(roles.KryetarIKomunes))
                        {
                            <div>
                                <partial name="_ManualiKryetarKomunesBusinessUserProfilePartial"></partial>
                            </div>
                        }
                        @if (User.IsInRole(roles.KryetarIFshatit))
                        {
                            <div>
                                <partial name="_ManualiKryetarFshatitBusinessUserProfilePartial"></partial>
                            </div>
                        }
                        @if (User.IsInRole(roles.AnetarIThjeshte))
                        {
                            <div>
                                <partial name="_ManualiAntarThjeshtBusinessUserProfilePartial"></partial>
                            </div>
                        }
                    </div>
                    <form asp-action="BusinessUserProfile" asp-controller="Dashboard" enctype="multipart/form-data" method="post">
                        <hr>
                        <div class="text-center">
                            <img src="~/Document/@Model.ProfileImage" class="rounded" style="width:100px;" alt="...">
                        </div>
                        <div class="text-center pt-4">
                            <h4>@Model.FullName</h4>
                        </div>
                        @if (User.IsInRole(roles.KryetarIPartise))
                        {
                            <div class="text-center pt-4">
                                <p><strong>Numri telefonit: </strong>@Model.PhoneNo</p>
                                <p><strong>Email adresa: </strong>@Model.Email</p>
                            </div>
                        }
                        else if (User.IsInRole(roles.KryetarIKomunes))
                        {
                            <div class="text-center pt-4">
                                <p><strong>Numri telefonit: </strong>@Model.PhoneNo</p>
                                <p><strong>Email adresa: </strong>@Model.Email</p>
                                <p><strong>Qyteti: </strong>@Model.Municipality</p>
                                <p><strong>Qendra e votimit: </strong>@Model.PollCenter</p>
                            </div>
                        }
                        else if (User.IsInRole(roles.KryetarIFshatit))
                        {
                            <div class="text-center pt-4">


                                <p><strong>Numri telefonit: </strong>@Model.PhoneNo</p>
                                <p><strong>Email adresa: </strong>@Model.Email</p>
                                <p><strong>Qyteti: </strong>@Model.Municipality</p>
                                <p><strong>Fshati: </strong>@Model.Village</p>
                                <p><strong>Qendra e votimit: </strong>@Model.PollCenter</p>



                            </div>
                        }
                        else
                        {
                            <div class="text-center pt-4">
                                <p><strong>Numri telefonit: </strong>@Model.PhoneNo</p>
                                <p><strong>Email adresa: </strong>@Model.Email</p>
                                <p><strong>Qyteti: </strong>@Model.Municipality</p>
                                <p><strong>Fshati: </strong>@Model.Village</p>
                                <p><strong>Lagja: </strong>@Model.Neighborhood</p>

                                <p><strong>Qendra e votimit: </strong>@Model.PollCenter</p>

                            </div>

                        }

                        <h6 class="pt-4">Ndrysho të dhënat</h6>
                        <hr>

                        <div class="pe-2 pb-3">
                            <div>
                               @* <label asp-for="Image" class="form-label">Ngarko foton e profilit</label>
                                <input asp-for="Image" class="form-control" accept="image/png, image/jpeg" type="file" id="formFile" onchange="preview()">*@
                                <div>
                                    <label asp-for="Image" class="form-label">Ngarko foton e profilit</label><br />
                                    <div class="border rounded">
                                        <input id="choose-file" asp-for="Image" class="form-control" accept="image/png, image/jpeg" />
                                        <label id="choose-label">Nuk keni ngarkuar foto</label>
                                        <span asp-validation-for="Image" class="text-danger"></span> <br />
                                 
                                    </div>
                                </div>
                                @if (ViewBag.NotAllowedFormat == true)
                                {
                                    <span class="text-danger"> Ju lutem ngarkoni fotografi te formatit jpg ose png</span>
                                }
                            </div>
                        </div>
                        <span>Numri i telefonit</span>
                        <div class="pe-2">
                            <div class="col-12">
                                <input class="form-control" asp-for="@Model.PhoneNo">
                            </div>
                            <span class="text-danger"></span>
                        </div>
                        <div class="d-flex flex-row justify-content-end pe-2 pt-4">
                            <button type="submit" class="btn btn-primary button-responsive">Ruaj ndryshimet</button>&nbsp;
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script>
        var strValue = "@((string)ViewBag.SaveAndCloseProfile)";
        if (strValue !== null && strValue !== "") {
            swal({
                icon: "success",
                text: "Të dhënat tuaja janë ndryshuar me sukses!",
                timer: 2000,
                buttons: false,
            })
        }
    </script>




        SaveAndCloseProfile
    <script src="~/js/function_image.js"></script>
}
