@{
    Layout = "_DashboardLayout";
    int[] kqz = { 24, 41, 55, 13, 18, 10, 9, 10 };
    int[] addvoter = { 40, 48, 60, 22, 25, 20, 22, 12 };
}
<div class="col-lg-12">
    <div class="row">

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Komuna e Prishtines - Zgjedhjet Nacionale</h5>

                    <!-- Column Chart -->
                    <div id="columnChart"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                          new ApexCharts(document.querySelector("#columnChart"), {
                            series: [{
                              name: 'Viti 2021',
                              data: [@kqz[0], @kqz[1], @kqz[2], @kqz[3], @kqz[4], @kqz[5], @kqz[6], @kqz[7]]
                            }, {
                              name: 'Tani',
                              data: [@addvoter[0], @addvoter[1], @addvoter[2], @addvoter[3], @addvoter[4], @addvoter[5], @addvoter[6], @addvoter[7]]
                            }],
                            chart: {
                              type: 'bar',
                              height: 350
                             },colors: ['#339af0', '#f76707'],
                              stroke: {
                                curve: 'smooth',
                                width: 0.5,
                             },
                            plotOptions: {
                              bar: {
                                horizontal: false,
                                columnWidth: '55%',
                                endingShape: 'rounded'
                              },
                            },
                            dataLabels: {
                              enabled: false
                            },
                            stroke: {
                              show: true,
                              width: 2,
                              colors: ['transparent']
                            },
                            xaxis: {
                              categories: ['LDK', 'PDK', 'VV', 'AAK', 'AKR', 'Nisma', 'Minoritetet Serb', 'Minoritetet'],
                            },
                            fill: {
                              opacity: 1,
                              colors: ['#339af0', '#f76707']
                            },
                            tooltip: {
                              y: {
                                formatter: function(val) {
                                  return "$ " + val + " thousands"
                                }
                              }
                            }
                          }).render();
                        });
                    </script>
                    <!-- End Column Chart -->

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Komuna e Prishtines - Zgjedhjet lokale</h5>

                    <!-- Column Chart -->
                    <div id="columnChart2"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                          new ApexCharts(document.querySelector("#columnChart2"), {
                            series: [{
                              name: 'Viti 2021',
                              data: [@kqz[0], @kqz[1], @kqz[2], @kqz[3], @kqz[4], @kqz[5], @kqz[6], @kqz[7]]
                            }, {
                              name: 'Tani',
                              data: [@addvoter[0], @addvoter[1], @addvoter[2], @addvoter[3], @addvoter[4], @addvoter[5], @addvoter[6], @addvoter[7]]
                            }],
                            chart: {
                              type: 'bar',
                              height: 350
                             },colors: ['#339af0', '#f76707'],
                              stroke: {
                                curve: 'smooth',
                                width: 0.5,
                             },
                            plotOptions: {
                              bar: {
                                horizontal: false,
                                columnWidth: '55%',
                                endingShape: 'rounded'
                              },
                            },
                            dataLabels: {
                              enabled: false
                            },
                            stroke: {
                              show: true,
                              width: 2,
                              colors: ['transparent']
                            },
                            xaxis: {
                              categories: ['LDK', 'PDK', 'VV', 'AAK', 'AKR', 'Nisma', 'Minoritetet Serb', 'Minoritetet'],
                            },
                            fill: {
                              opacity: 1,
                              colors: ['#339af0', '#f76707']
                            },
                            tooltip: {
                              y: {
                                formatter: function(val) {
                                  return "$ " + val + " thousands"
                                }
                              }
                            }
                          }).render();
                        });
                    </script>
                    <!-- End Column Chart -->

                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Komunat e Prizrenit - Zgjedhjet nacionale</h5>

                    <!-- Column Chart -->
                    <div id="columnChart3"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                          new ApexCharts(document.querySelector("#columnChart3"), {
                            series: [{
                              name: 'Viti 2021',
                              data: [@kqz[0], @kqz[1], @kqz[2], @kqz[3], @kqz[4], @kqz[5], @kqz[6], @kqz[7]]
                            }, {
                              name: 'Tani',
                              data: [@addvoter[0], @addvoter[1], @addvoter[2], @addvoter[3], @addvoter[4], @addvoter[5], @addvoter[6], @addvoter[7]],
                              colors: '#f76707'
                            }],
                           chart: {
                              type: 'bar',
                              height: 350
                             },colors: ['#339af0', '#f76707'],
                              stroke: {
                                curve: 'smooth',
                                width: 0.5,
                             },
                            plotOptions: {
                              bar: {
                                horizontal: false,
                                columnWidth: '55%',
                                endingShape: 'rounded'
                              },
                            },
                            dataLabels: {
                              enabled: false
                            },
                            stroke: {
                              show: true,
                              width: 2,
                              colors: ['transparent']
                            },
                            xaxis: {
                              categories: ['LDK', 'PDK', 'VV', 'AAK', 'AKR', 'Nisma', 'Minoritetet Serb', 'Minoritetet'],
                            },
                            fill: {
                              opacity: 1,
                              colors: ['#339af0', '#f76707']
                            },
                            tooltip: {
                              y: {
                                formatter: function(val) {
                                  return "$ " + val + " thousands"
                                }
                              }
                            }
                          }).render();
                        });
                    </script>
                    <!-- End Column Chart -->

                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Komuna e Prizrenit - Zgjedhjet lokale</h5>

                    <!-- Column Chart -->
                    <div id="columnChart4"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                          new ApexCharts(document.querySelector("#columnChart4"), {
                            series: [{
                              name: 'Viti 2021',
                              data: [@kqz[0], @kqz[1], @kqz[2], @kqz[3], @kqz[4], @kqz[5], @kqz[6], @kqz[7]]
                            }, {
                              name: 'Tani',
                              data: [@addvoter[0], @addvoter[1], @addvoter[2], @addvoter[3], @addvoter[4], @addvoter[5], @addvoter[6], @addvoter[7]]
                            }],
                            chart: {
                              type: 'bar',
                              height: 350
                             },colors: ['#339af0', '#f76707'],
                              stroke: {
                                curve: 'smooth',
                                width: 0.5,
                             },
                            plotOptions: {
                              bar: {
                                horizontal: false,
                                columnWidth: '55%',
                                endingShape: 'rounded'
                              },
                            },
                            dataLabels: {
                              enabled: false
                            },
                            stroke: {
                              show: true,
                              width: 2,
                              colors: ['transparent']
                            },
                            xaxis: {
                              categories: ['LDK', 'PDK', 'VV', 'AAK', 'AKR', 'Nisma', 'Minoritetet Serb', 'Minoritetet'],
                            },
                            fill: {
                              opacity: 1,
                              colors: ['#339af0', '#f76707']
                            },
                            tooltip: {
                              y: {
                                formatter: function(val) {
                                  return "$ " + val + " thousands"
                                }
                              }
                            }
                          }).render();
                        });
                    </script>
                    <!-- End Column Chart -->

                </div>
            </div>
        </div>
