@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager
@inject IOptionsSnapshot<Roles> _roles;
@{
    Layout = "_DashboardLayout";
    var roles = _roles.Value;
}
@model RegisterVM;
@if (!ViewBag.HasPasswordChange)
{
    <div class="modal fade hide" id="change-password" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title text-center" id="exampleModalLongTitle">Ndrysho fjalëkalimin</h5>
                </div>
                <div class="modal-body">
                    <div class="text-align-center justify-content-center pt-2 ">
                        <div class="col-12">
                            <div class="pb-2">
                                <form>
                                <div class="mb-3">
                                    <label for="NewPassword" class="form-label">Fjalëkalimi i ri</label>
                                    <div class="d-flex align-items-center">
                                         <input for="NewPassword"  id="newPassword" type="password" class="form-control" aria-describedby="emailHelp">
                                         <i class="bi bi-eye-slash fs-5" id="newTogglePassword"></i>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="ConfirmPassword" class="form-label">Konfirmo fjalëkalimin</label>
                                        <div class="d-flex align-items-center">
                                            <input for="ConfirmPassword" id="confirmPassword" type="password" class="form-control" aria-describedby="emailHelp">
                                            <i class="bi bi-eye-slash fs-5" id="confirmTogglePassword"></i>
                                    </div>
                                    <small id="response-text" class="text-danger"></small>
                                </div>
                                <button type="submit" id="change-password" class="btn btn-primary btn-lg btn-block mt-3 w-100 py-0"> Ndrysho </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div>
    <div class="card">
        <div class="d-flex justify-content-center align-items-center position-relative mobileResponziveNameManual">
            <div class="me-3">
                <h4 class="text-center pt-4">
                    Mirë se vini <strong>
                        @((await
                        _userManager.FindByNameAsync(User.Identity.Name)).FullName)
                    </strong>
                </h4>
            </div>
            @if (User.IsInRole(roles.KryetarIPartise))
            {
                <div class="ps-2 position-absolute end-0 me-2 manualResponzive">
                    <partial name="_ManualiAdminDashboardPartial"></partial>
                </div>
            }
            @if (User.IsInRole(roles.KryetarIKomunes))
            {
                <div class="ps-2 position-absolute end-0 me-2">
                    <partial name="_ManualiKryetarKomunesDashboardPartial"></partial>
                </div>
            }
        </div>

        <hr />
        @if (User.IsInRole(roles.KryetarIPartise))
        {
            <div class="test d-flex justify-content-around p-2 pt-2">
                <div class="test pt-2">
                    <p>Zgjedhni qytetin për grafe:</p>
                </div>
                <div class=" mb-2 test ">
                    <select class="form-select" id="munis" onchange="getId()" asp-for="Municipality">
                        <option disabled selected>Zgjedh qytetin...</option>
                    </select>
                </div>
            </div>
        }
    </div>
</div>
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="city-nacinale"></h5>
                    <div id="columnChart"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="city-lokale"></h5>
                    <div id="columnChart1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
        #newTogglePassword, #confirmTogglePassword{
            margin-left: -30px;
            cursor: pointer;
        }
        @@media screen and (max-width:488px) {
            .test {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                width: 100% !important;
            }
        }
         @@media screen and (max-width:500px) {
           .manualResponzive{
                   position:relative !important;
                   
               }
            .mobileResponziveNameManual{
                justify-content:space-between!important;
         
            }
         }
        @@media screen and (max-width: 1800px){
            #testManuali{
                max-width:70%;
            }
        }
        @@media screen and (max-width: 600px){
            #testManuali{
                max-width:100%;
            }
        }
</style>
<script src="~/js/security_stamp_Dashboard.js"></script>
@if (User.IsInRole(roles.KryetarIPartise))
{
    @section Scripts {
    <script src="~/js/municipalities.js" asp-append-version="true"></script>
    <script src="~/js/admin_graphs.js" asp-append-version="true"></script>
    <script>
        var strValue = "@((string)ViewBag.mssg)";
            if (strValue !== null && strValue !== "") {
                swal({
                    icon: "success",
                    text: strValue,
                    timer: 2000,
                    buttons: false,
                })
            }
        </script>
        
        <script>
            var strValue = "@((string)ViewBag.SaveAndCloseProfile)";
            if (strValue !== null && strValue !== "") {
                swal({
                    icon: "success",
                    text: "Të dhënat tuaja janë ndryshuar me sukses!",
                    timer: 2000,
                    buttons: false,
                })
            }
        </script>
        <script>
            var strValue = "@((string)ViewBag.ChangePassword)";
            if (strValue !== null && strValue !== "") {
                swal({
                    icon: "success",
                    text: "Fjalëkalimi juaj është ndryshuar me sukses!",
                    timer: 2000,
                    buttons: false,
                })
            }
        </script>
        <script>
            var strValue = "@((string)ViewBag.SaveAndCloseCRM)";
            if (strValue !== null && strValue !== "") {
                swal({
                    icon: "success",
                    text: "Të dhënat janë ruajtur me sukses!",
                    timer: 2000,
                    buttons: false,
                })
            }
        </script>
         <script>
            var strValue = "@((string)ViewBag.SaveAndClosePoliticalAdmin)";
            if (strValue !== null && strValue !== "") {
                swal({
                    icon: "success",
                    text: "Të dhënat janë ruajtur me sukses!",
                    timer: 2000,
                    buttons: false,
                })
            }
        </script>
        
    }
}
else
{
    @section Scripts {
    <script src="~/js/muni_graphs.js" asp-append-version="true"></script>
    <script>
        var strValue = "@((string)ViewBag.mssg)";
            if (strValue !== null && strValue !== "") {
                swal({
                    icon: "success",
                    text: "Të dhënat për votuesin u regjistruan me sukses!",
                    timer: 2000,
                    buttons: false,
                })
            }
        </script>
        <script>
            var strValue = "@((string)ViewBag.SaveAndClosePoliticalAdmin)";
            if (strValue !== null && strValue !== "") {
                swal({
                    icon: "success",
                    text: "Të dhënat janë ruajtur me sukses!",
                    timer: 2000,
                    buttons: false,
                })
            }
        </script>
    
    
       <script>
        var strValue = "@((string)ViewBag.AddPoliticalSaveAndClose)";
            if (strValue !== null && strValue !== "") {
                swal({
                    icon: "success",
                    text: "Të dhënat për zyrtarin janë ruajtur me sukses!,
                    timer: 2000,
                    buttons: false,
                })
            }
        </script>
        <script>
            var strValue = "@((string)ViewBag.SaveAndCloseProfile)";
            if (strValue !== null && strValue !== "") {
                swal({
                    icon: "success",
                    text: "Të dhënat janë ndryshuar me sukses!",
                    timer: 2000,
                    buttons: false,
                })
            }
        </script>
        <script>
            var strValue = "@((string)ViewBag.ChangePassword)";
            if (strValue !== null && strValue !== "") {
                swal({
                    icon: "success",
                    text: "Fjalëkalimi u ndryshua me sukses!",
                    timer: 2000,
                    buttons: false,
                })
            }
        </script>
        <script>
            var strValue = "@((string)ViewBag.SaveAndCloseCRM)";
            if (strValue !== null && strValue !== "") {
                swal({
                    icon: "success",
                    text: "Të dhënat janë ruajtur me sukses!",
                    timer: 2000,
                    buttons: false,
                })
            }
        </script>
    }
}