@model IEnumerable<PersonVM>
@{
    ViewBag.Title = "Tabela e Votueseve";
    Layout = "_DashboardLayout";
}
<style>
 @@media(max-width: 320px){ 
  /*font-size: 10px*/
   #noHover{
    pointer-events: none !important;
}
    li a{color:black;
     cursor:pointer;
     }
     li{
         margin-right:24px;
        
     }
     .navbar{
         margin-left: 27px;
     }
      .testli{
          font-size:10px !important;
      }
     .toggle-vis{
         display:flex;
         justify-content:center;
     }
     .btnwidth{
         width:100%;
     }
      .butonipdf{
      background-color:#2A7EEC;
       color: white !important;
       font-weight: 200 !important;
 } 
 .butonixls{
      background-color:#2A7EEC;
       color: white !important;
        font-weight: 200 !important;
 }
 .butonitoggle{
      background-color:#2A7EEC;
       color: white !important;                                         
        font-weight: 200 !important;
 }

}
 @@media only screen and (max-width: 765px) {
     #noHover{
    pointer-events: none !important;
}
    li a{color:black;
     cursor:pointer;
     }
     li{
         margin-right:24px;
     }
     .navbar{
         margin-left: 27px;
     }
     .toggle-vis{
         display:flex;
         justify-content:center;
     }
     .btnwidth{
         width:100%;
     }
      .butonipdf{
      background-color:#2A7EEC;
       color: white !important;
       font-weight: 200 !important;
 } 
 .butonixls{
      background-color:#2A7EEC;
       color: white !important;
        font-weight: 200 !important;
 }
 .butonitoggle{
      background-color:#2A7EEC;
       color: white !important;                                         
        font-weight: 200 !important;
 }
}
 @@media only screen and (min-width: 768px) {
 .testing{
     display:flex !important;
     justify-content:end !important;
     }
 .butonixls{
     box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px 0px;
      cursor:pointer;
      color:white !important;
      
 }
  .butonipdf{
     box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px 0px;
      cursor:pointer;
          color:white !important;

 }
  .butonitoggle{
     box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px 0px;
      cursor:pointer;
         color:white !important;
 }
 td{
      text-align: center; 
       vertical-align: middle;
    
 }
 .ultest{
     width:97%;
     text-align: center;
 }
 li a{color:black;
 cursor:pointer;
 }
 
 }
</style>

<div class="bg-white pe-3">
    <nav b-fhvjq1vla1="" class="navbar navbar-expand-md navbar-light pe-0">

        <div b-fhvjq1vla1="" class="container-fluid d-flex pe-0">

            <a class="navbar-brand fw-semibold" href="/">
            </a>
            <button b-fhvjq1vla1="" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span b-fhvjq1vla1="" class="bi bi-three-dots-vertical noHover"></span>
            </button>
            <div class="testing collapse navbar-collapse justify-content-end align-items-center text-center text-sm-center pe-0" id="main-nav">
                <ul class="navbar-nav d-flex align-items-center justify-content-center">&nbsp;&nbsp;
                      <li b-fhvjq1vla1="" class="nav-item btnwidth">
                          <div class="dropdown">
                        <a class="nav-link text-md-center hover-link dropdown-toggle butonitoggle btn btn-primary testli"role="button" id="dropdownMenuLink"data-bs-toggle="dropdown"aria-expanded="false">Shfaq/Largo kolonat nga lista </a>
                         <ul class="dropdown-menu ultest" aria-labelledby="dropdownMenuLink">
                            <li><a class="toggle-vis text-decoration-none" data-column="0">Qyteti</a></li>
                            <li><a class="toggle-vis" data-column="1">Emri dhe Mbiemri</a></li>
                            <li><a class="toggle-vis" data-column="2">Numri i votuesve</a> </li>
                            <li><a class="toggle-vis" data-column="3">Numri i telefonit</a> </li>
                            <li><a class="toggle-vis" data-column="4">Qendra e votimit</a> </li>
                            <li><a class="toggle-vis" data-column="5">Votues paraprak</a> </li>
                            <li><a class="toggle-vis" data-column="6">Votues i tanishëm</a> </li>
                            <li><a class="toggle-vis" data-column="7">Gjasat fillestare</a> </li>
                            <li><a class="toggle-vis" data-column="8">Gjasat aktuale</a> </li>
                            <li><a class="toggle-vis" data-column="9">Statusi aktual</a> </li>
                        </ul>
                        </div>
                    </li>&nbsp;&nbsp;
                    <li class="nav-item btnwidth ">
                        <a class="nav-link text-sm-center hover-link butonixls btn btn-primary testli"role="button" onclick="ExportToExcel()"><span class="bi bi-file-excel"></span> Eksporto ne excel</a>
                    </li>&nbsp;&nbsp;
                    <li class="nav-item btnwidth ">
                        <a class="nav-link text-md-center hover-link butonipdf btn btn-primary testli"role="button" onclick="ExportToPdf()"><span class="bi bi-file-pdf "></span> Eksporto ne pdf </a>
                    </li>
            
                   
                </ul>
            </div>

        </div>
    </nav>
    <div class="table table-responsive">
        <table class="table table-striped table-hover small" id="example">
            <thead>
                <tr style="font-size:12px;" class="align-middle">
                         @if (User.IsInRole("KryetarIFshatit")){
                    <th scope="col"class="text-center pe-1">
                                  Fshati
                                  </th>
                         }
                        else
                        {
                              <th scope="col"class="text-center pe-1">
                                  Qyteti
                                  </th>

                        }
                    <th scope="col" class="text-center pe-1">Emri dhe Mbiemri</th>
                    <th scope="col"class="text-center pe-1">Numri i votuesve</th>
                    <th scope="col"class="text-center pe-1">Numri i telefonit</th>
                    <th scope="col"class="text-center pe-1">Qendra votimit</th>
                    <th scope="col"class="text-center pe-1">Votues paraprak</th>
                    <th scope="col"class="text-center pe-1">Votues i tanishëm</th>
                    <th scope="col"class="text-center pe-1">Gjasat fillestare</th>
                    <th scope="col"class="text-center pe-1">Gjasat aktuale</th>
                    <th scope="col"class="text-center pe-1">Statusi aktual</th>
                    <th class="no-export text-center pe-1" style="font-size:11px">Menaxho</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var voter in Model)
                {
                    <tr style="font-size:13px;" class="align-middle">
                        <td class="text-center">
                            @if (User.IsInRole("KryetarIFshatit"))
                            {
                                @voter.Village
                            }
                            else{
                               @voter.MunicipalityName 
                            } 
                            </td>
                           
                      
                        <td class="text-center">@voter.FullName</td>
                        <td class="text-center">@voter.VotersNumber</td>
                        <td class="text-center">@voter.PhoneNumber</td>
                        <td class="text-center">@voter.PollCenter</td>
                        <td class="text-center">@voter.PreviousVoter</td>
                        <td class="text-center">@voter.CurrentVoter</td>
                        <td class="text-center">@voter.InitialChances</td>
                        <td class="text-center">@voter.ActualChances</td>
                        <td class="text-center">@voter.ActualStatus</td>
                        <td><a class="no-export" asp-controller="Dashboard" asp-action="Reports" asp-route-id="@voter.Id"><i class="fas fa-edit"></i></a></td>
                    </tr>
                  
                }
            </tbody>
        </table>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="~/datatable/datatables.css" />
@section Scripts {
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script type="text/javascript" src="~/datatable/datatables.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>


<script>

    $(document).ready(function () {
        var table = $('#example').DataTable({
            paging: false,
        });

        $('a.toggle-vis').on('click', function (e) {
            e.preventDefault();

            // Get the column API object
            var column = table.column($(this).attr('data-column'));

            // Toggle the visibility
            column.visible(!column.visible());
        });
    });
</script>
<script>

    $('#demoGrid').dataTable({
    });
</script>
<script>
    function ExportToExcel(type, fn, dl) {
           var elt = document.getElementById('example');

           var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
           return dl ?
             XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
             XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
        }
      function ExportToPdf() {
             let tableClone = $('#example');
                    tableClone
                    .find(".no-export")
                    .each(function(){
                        $(this).hide();
                    });
                    //$("body").html(tableClone);
                     html2canvas(document.getElementById('example'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Table.pdf");
                    setTimeout(()=>{
                    location.reload();

                    },"1000");
                }
            });
        }

</script>
<script>
    var dataTablesInfo = document.getElementById("dataTables_info");
</script>
}
