@model PersonVM
@{
    Layout = "_DashboardLayout";
}

<h3>Menaxho</h3>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card ">
                <div class="card-body p-5">

                    <form asp-controller="Dashboard" asp-action="Reports" method="post">

                        <br />
                        <style>
                            th {
                                font-weight: 500;
                            }

                            .test {
                                background-color: #0d6efd;
                            }

                                .test:hover {
                                    background-color: #0b5ed7;
                                }

                            .swal-button--catch:hover {
                                background-color: #0d6efd;
                            }

                            .swal-button:not([disabled]):hover {
                                background-color: #0b5ed7;
                            }

                            .swal-button--cancel {
                                background-color: #dc3545;
                                color: white;
                            }

                                .swal-button--cancel:not([disabled]):hover {
                                    background-color: #bb2d3b;
                                }

                            .swal-content__input:focus {
                                border-color: #ced4da;
                                border-bottom: 3px solid #ced4da;
                            }

                            .swal-text {
                                font-weight: 500;
                                font-size: 20px;
                            }

                            .swal-button--confirm {
                                background-color: #0d6efd;
                            }

                        </style>
                        <div class="d-flex flex-row justify-content-between flex-lg-row flex-column">
                            <div class="col-lg-6 pe-2">
                                <div>
                                    <p>Të dhënat nga regjistrimi</p>
                                    <table class="table table-bordered table table-responsive-sm"
                                           id="dataTable"
                                           width="100%"
                                           cellspacing="0">
                                        <tr>
                                            <th colspan="2"> Emri dhe Mbiemri</th>
                                            <td colspan="2"> @Model.FullName </td>
                                        </tr>
                                        <tr >
                                            <th colspan="2">Numri i votuesve</th>
                                            <td colspan="2">@Model.VotersNumber</td>
                                        </tr>
                                        <tr >
                                            <th >Votues paraprak </th>
                                            <td>@Model.CurrentVoter</td>
                                            <th >Gjasat fillestare</th>
                                            <td>@Model.ActualChances%</td>
                                        </tr>
                                    </table>
                                    <input type="hidden" asp-for="@Model.Id" />
                                </div>
                            </div>
                            <div class="col-lg-6 pe-2">

                                <div>
                                    <p>Evidento ndryshimet me të dhënat e reja</p>
                                    <table class="table table-bordered table table-responsive"
                                           id="dataTable"
                                           width="100%"
                                           cellspacing="0">
                                        <tr>

                                            <th style="font-size:15px;" width = "50%">Votues i tanishëm</th>
                                            <td width = "50%">
                                                <select asp-for="CurrentVoter" asp-items="@ViewBag.PS" class="w-100 form border-0 selectList"

                                                        id="inputGroupSelect01">
                                                    <option disabled selected>Zgjedh Partine</option>
                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th>Gjasat aktuale</th>
                                            <td>
                                                <select asp-for="ActualChances" asp-items="@ViewBag.successChances" class="w-100 form border-0 selectList"
                                              id="inputGroupSelect02"  >
                                                    <option disabled selected>Zgjedh gjasat e Suksesit..</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th>Statusi aktual</th>
                                            <td>
                                                <select asp-for="ActualStatus" asp-items="@ViewBag.actualStatus" class="w-100 form border-0 selectList"

                                                        id="inputGroupSelect03">
                                                    <option disabled selected>Zgjedh statusin</option>
                                                </select>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 ml-5">
                            <label for="exampleFormControlTextarea1" class="form-label">Përshkruaj gjendjen ekzistuese dhe mundësitë ose barrierat e suksesit:</label>
                            <textarea asp-for="GeneralDescription" class="form-control ml-4" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="d-flex flex-row justify-content-end pt-3 ">
                                 <a href = 'javascript:
                               swal({
                               title: "A jeni të sigurtë?" ,
                               icon: "warning" ,
                                         buttons: {
                                         cancel:"Anulo",
                                      confirm:{
                                    text:"Konfirmo",
                                  className:"test",
                                } }
                               })
                               .then((willDelete)=>
                                {
                                if (willDelete) {
                                swal({ title: "U anulua me sukses!",
                                icon: "success"}).then(okay => {
                                if (okay) {
                                window.location.href = "/AddsAdmin/AddVoter";
                                }
                                });
                                } else {
                                swal({
                                title: "Te dhënat nuk janë anuluar!",
                                icon: "error",
                                });
                                }
                                });'
                                class = "btn btn-danger">Anulo</a>&nbsp &nbsp
                              <button type="submit" class="btn btn-primary pe-2" id="saveBtn" disabled>Ruaj dhe mbyll</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>

  $(document).ready(function() {
                $('#saveBtn').attr('disabled', true);

                $('.selectList').on('change', function() {
                  var alldata = $('.selectList');
                    if (alldata[0].value != ""&& alldata[1].value != "" && alldata[2].value != "" ) {                  
                      $('#saveBtn').removeAttr("disabled");
                    } else {
                      $('#saveBtn').attr('disabled', true);

                    }
                  });
              });
    </script>
}