@model PersonVM
@inject IOptionsSnapshot<Roles> _roles;

@{
    Layout = "_DashboardLayout";
    var roles = _roles.Value;
}

<h3>Menaxho</h3>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div>
                    <form asp-controller="Dashboard" asp-action="Reports" method="post">
                        <br/>
                        <style>
                            th {
                                font-weight: 500;
                            }

                            .test {
                                background-color: #0d6efd;
                            }

                                .test:hover {
                                    background-color: #0b5ed7;
                                }

                            .swal-button--catch:hover {
                                background-color: #0d6efd;
                            }

                            .swal-button:not([disabled]):hover {
                                background-color: #0b5ed7;
                            }

                            .swal-button--cancel {
                                background-color: #dc3545;
                                color: white;
                            }

                                .swal-button--cancel:not([disabled]):hover {
                                    background-color: #bb2d3b;
                                }

                            .swal-content__input:focus {
                                border-color: #ced4da;
                                border-bottom: 3px solid #ced4da;
                            }

                            .swal-text {
                                font-weight: 500;
                                font-size: 20px;
                            }

                            .swal-button--confirm {
                                background-color: #0d6efd;
                            }
                            @@media screen and (max-width:472px) {
                            input::placeholder {
                                font-size: 13px;
                            }

                            td {
                                font-size: 13px;
                            }
                            th{
                                font-size:13px;
                            }
                            @@media screen and (max-width:432px) {
                                .button-responsive {
                                    font-size: 12px;
                                }

                                input::placeholder {
                                    font-size: 12px;
                                }

                                td{
                                    font-size: 12px;
                                }
                                th{
                                    font-size:13px;
                                }
                            }


                        </style>
                        <div class="d-flex flex-row justify-content-between flex-lg-row flex-column position-relative">
                            <div class="col-lg-6 ps-2 pe-2">
                                <div class="tabkorrigjim">
                                    <p>Të dhënat nga regjistrimi</p>
                                    <table class="table table-bordered table table-responsive-sm"
                                           id="dataTable"
                                           width="100%"
                                           cellspacing="0">
                                        <tr>
                                            <th width="50%" colspan="2"> Emri dhe Mbiemri</th>
                                            <td width="50%" colspan="2"> @Model.FullName </td>
                                        </tr>
                                        <tr >
                                            <th colspan="2">Numri i votuesve</th>
                                            <td colspan="2">@Model.VotersNumber</td>
                                        </tr>
                                        <tr>
                                            <th>Votues paraprak </th>
                                            <td>@Model.CurrentVoter</td>
                                            <th>Gjasat fillestare</th>
                                            <td>@Model.ActualChances%</td>
                                        </tr>
                                    </table>
                                    <input type="hidden" asp-for="@Model.Id" />
                                </div>
                            </div>
                            <div class="col-lg-6 ps-2 pe-2">

                                <div>
                                    <p>Evidento ndryshimet me të dhënat e reja</p>
                                    <table class="table table-bordered table table-responsive"
                                           id="dataTable">
                                        <tr>

                                            <th width = "50%">Votues i tanishëm</th>
                                            <td width = "50%">
                                                <select asp-for="CurrentVoter" asp-items="@ViewBag.PS" class="w-100 form border-0 selectList"

                                                        id="inputGroupSelect01">
                                                    <option disabled selected>Zgjedh partinë</option>
                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th>Gjasat aktuale</th>
                                            <td>
                                                <select asp-for="ActualChances" asp-items="@ViewBag.successChances" class="w-100 form border-0 selectList"
                                              id="inputGroupSelect02"  >
                                                    <option disabled selected>Zgjedh gjasat e suksesit..</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th>Statusi aktual</th>
                                            <td>
                                                <select asp-for="ActualStatus" asp-items="@ViewBag.actualStatus" class="w-100 form border-0 selectList"

                                                        id="inputGroupSelect03">
                                                    <option disabled selected>Zgjedh statusin</option>
                                                </select>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                        
                        </div>
                        <div class="">
                            @if (User.IsInRole(roles.KryetarIPartise))
                            {
                                <div class="ps-2 position-absolute end-0 top-0 me-2">
                                    <partial name="_ManualiAdminPerformancePartial"></partial>
                                </div>
                            }
                            @if (User.IsInRole(roles.KryetarIKomunes))
                            {
                                <div class="ps-2 position-absolute end-0 top-0 me-2">
                                    <partial name="_ManualiKryetarKomunesPerformancePartial"></partial>
                                </div>
                            }
                            @if (User.IsInRole(roles.KryetarIFshatit))
                            {
                                <div class="ps-2 position-absolute end-0 top-0 me-2">
                                    <partial name="_ManualiKryetarFshatitPerformancePartial"></partial>
                                </div>
                            }
                        </div>
                        
                        <div class="mb-2 ml-5 ps-2 pe-2">
                            <label for="exampleFormControlTextarea1" class="form-label">Përshkruaj gjendjen ekzistuese dhe mundësitë ose barrierat e suksesit:</label>
                            <textarea asp-for="GeneralDescription" class="form-control ml-4" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="d-flex flex-row justify-content-end pt-3 pb-2 pe-2 ">
                                 <a href = 'javascript:
                               swal({
                               title: "A jeni të sigurtë?" ,
                               icon: "warning" ,
                                         buttons: {
                                         cancel:"Jo",
                                      confirm:{
                                    text:"Po",
                                  className:"test",
                                } }
                               })
                               .then((willDelete)=>
                                {
                                if (willDelete) {
                                swal({ title: "U anulua me sukses!",
                                icon: "success"}).then(okay => {
                                if (okay) {
                                window.location.href = "/Dashboard/Performance";
                                }
                                });
                                } else {
                                swal({
                                title: "Te dhënat nuk janë anuluar!",
                                icon: "error",
                                });
                                }
                                });'
                                class = "btn btn-danger button-responsive">Anulo
                            </a>&nbsp &nbsp
                            <button type="submit" class="btn btn-primary pe-2 button-responsive" id="saveBtn" disabled>Ruaj dhe mbyll</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>

  $(document).ready(function() {
                $('#saveBtn').attr('disabled', true);

                $('.selectList').on('change', function() {
                  var alldata = $('.selectList');
                    if (alldata[0].value != ""&& alldata[1].value != "" && alldata[2].value != "" ) {                  
                      $('#saveBtn').removeAttr("disabled");
                    } else {
                      $('#saveBtn').attr('disabled', true);

                    }
                  });
              });
    </script>
}