@model VoterDetailsVM
<link rel="stylesheet" href="~/cssViews/_Voters.css">
@{
    var fbLink = "https://www.facebook.com/" + Model.FacebookLink;
}
@if (ViewBag.UserNull == "nuk ka te dhena")
{
    if (string.IsNullOrWhiteSpace(ViewBag.Name)) { } 
    else
    {
        <small>Nuk ka të dhëna për <span class="text-danger">"@ViewBag.Name"</span>!</small>
    }
}

else
{
    <h6 class="pt-4">I - Të dhënat e regjistruara<hr></h6>
    <div class="d-flex flex-row justify-content-between flex-lg-row flex-column">
        
        <div class="col-lg-6 pe-2">
            <div class="table-responsive">
                <table class="table table-bordered"
                   id="dataTable"
                   width="100%"
                   cellspacing="0"
                   style="table-layout:fixed">
                    <tr>
                        <td width="50%" class="font-bold">Emri dhe mbiemri</td>
                        <td width="50%" id="DataSearching">@Model.FullName</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Fshati</td>
                        <td id="DataSearching">@Model.Village</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Lagja</td>
                        <td id="DataSearching">@Model.Neigborhood</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Blloku</td>
                        <td id="DataSearching">@Model.Block</td>
                    </tr>
                    <tr>
                        <td class="font-bold">Hyrja </td>
                        <td id="DataSearching">@Model.HouseNo</td>
                    </tr>
                    <tr>
                        <td>Numri i telefonit </td>
                        <td id="DataSearching">@Model.PhoneNumber</td>
                    </tr>
                    <tr>
                        <td>Email Adresa </td>
                        <td id="DataSearching">@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Facebook</td>
                        <td id="DataSearching"><a href="@fbLink" target="_blank">@Model.FullName </a></td>
                    </tr>
                </table>
            </div>
        </div>
        <style>
            td {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        </style>
        <div class="col-lg-6 pe-2">
            <div class="table-responsive">
                <table class="table table-bordered"
                   id="dataTable"
                   width="100%"
                   cellspacing="0"
                   style="table-layout:fixed">
                    <tr>
                        <td width="50%">Numri i familjarëve</td>
                        <td width="50%" id="DataSearching">@Model.VotersNumber</td>
                    </tr>
                    <tr>
                        <td>Në zgjedhje lokale</td>
                        <td id="DataSearching">@Model.PoliticalSubjectLocal</td>
                    </tr>
                    <tr>
                        <td>Në zgjedhje nacionale</td>
                        <td id="DataSearching">@Model.PoliticalSubjectNational</td>
                    </tr>
                    <tr>
                        <td>Gjasat e suksesit</td>
                        <td id="DataSearching">@Model.InitialChance</td>
                    </tr>
                    <tr>
                        <td>Vendi i punës</td>
                        <td id="DataSearching">@Model.WorkPlace</td>
                    </tr>
                    <tr>
                        <td>Statusi administrativ</td>
                        <td id="DataSearching">@Model.AdministrativeUnit</td>
                    </tr>

                    <tr>
                        <td>Pozita</td>
                        <td id="DataSearching">@Model.Duty</td>
                    </tr>
                    <tr>
                        <td>Qendra e votimit</td>
                        <td id="DataSearching">@Model.PollCenter</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <form asp-controller="Crm" asp-action="Voters" method="post">
        <h6 class="pt-4">II - Përcaktimi i votes<hr></h6>
        <input hidden asp-for="Id" id="userId" />
        <div class="d-flex flex-row align-content-around flex-md-row flex-column">
            <div class="col-md-6 mb-2 pe-2">
                <label class="pt-3">Zgjedh/Shto arsyen që percakton votën tuaj</label>
                <select asp-for="Reason" class="form-select" id="general-demand" asp-items="@ViewBag.ArysjetPercaktues">
                    @if (Model.Reason == null || Model.Reason == "Unset")
                    {
                        <option disabled selected>Zgjedhni opsionet...</option>
                        <option value="shto">Shto +</option>
                    }
                    else
                    {
                        <option selected>@Model.Reason</option>
                        <option value="shto">Shto +</option>
                    }
                </select>
            </div>
            <div class="col-md-6 mb-2 pe-2">
                <label class="pt-3">A mund ta menaxhoni personin?</label>
                <select asp-for="CanYouManage" class="form-select" id="inputGroupSelect02" onchange="disableOption1()" asp-items="ViewBag.YesNo">
                    <option disabled selected>Zgjedhni opsionet...</option>
                </select>
            </div>
        </div>
        <div class="form-group pe-2">
            <label class="pt-3" for="AktivitetePerNdryshim">Aktivitetet që planifikoni të ndërmerrni për të menaxhuar ndryshimet: </label>
            <textarea type="text" asp-for="ActivitiesYourPlan" class="form-control" id="AktivitetePerNdryshim"> </textarea>
        </div>
        <h6 class="pt-4">III - Ndihmë nga partia<hr></h6>
        <div class="d-flex flex-row align-content-around flex-md-row flex-column">
            <div class="col-md-6 mb-2 pe-2">
                <label class="pt-3">A keni nevojë për ndihmë?</label>
                <select asp-for="NeedHelp" class="form-select" id="gethelp" onchange="disableOption2()" asp-items="ViewBag.YesNo">
                    <option disabled selected>Zgjedhni opsionet... </option>

                </select>
            </div>
            <div class="col-md-6 mb-2 pe-2">
                <label class="pt-3">Zgjedh/Shto ndihmën e nevojshme</label>
                <select asp-for="Demands" class="form-select" id="specific-reason" asp-items="@ViewBag.NdihmaNevojshme">
                    @if (Model.Demands == null || Model.Demands == "Unset")
                    {
                        <option disabled selected>Zgjedhni opsionet...</option>
                        <option value="shto">Shto +</option>
                    }
                    else
                    {
                        <option selected>@Model.Demands</option>
                        <option value="shto">Shto +</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group pe-2 pb-3 ">
            <label class="pt-3" for="NdihmaEKerkuar">Përshkruani arsyeshmërinë e ndihmës së kërkuar dhe ndikimin në sukses: </label>
            <textarea asp-for="Description" type="text" class="form-control" id="NdihmaEKerkuar"> </textarea>
        </div>

        <h6 class="pt-4">IV - Menaxho<hr></h6>
        <div class="d-flex justify-content-between flex-sm-row flex-column">
            <div class="col-sm-6 mb-3 pe-2">
                <label>Partia ne zgjedhjet lokale</label>
                <select class="form-select option-select" id="inputGroupSelect04" asp-for="PoliticalSubjectLocal" asp-items="@ViewBag.PS" required>
                    <option disabled selected>Zgjedh partinë...</option>
                </select>
                <span asp-validation-for="PoliticalSubjectLocal" class="text-danger"></span>

            </div>
            <div class="col-sm-6 mb-3 pe-2">
                <label>Partia ne zgjedhjet nacionale</label>
                <select class="form-select option-select" id="inputGroupSelect04" asp-for="PoliticalSubjectNational" asp-items="@ViewBag.PS" required>
                    <option disabled selected>Zgjedh partinë...</option>
                </select>
                <span asp-validation-for="PoliticalSubjectNational" class="text-danger"></span>

            </div>

        </div>

         <div class="d-flex justify-content-between flex-md-row flex-column">

            <div class="col-sm-6 mb-3 pe-2">
                 <label>Gjasat Aktuale</label>
                     <select class="form-select fshati-selected option-select" asp-for="ActualChances"
                     asp-items="@ViewBag.successChances" id="villages">
                        <option  disabled selected selectcard>Zgjedh gjasat e suksesit...</option>
                     </select>
            </div>
            <div class="col-sm-6 mb-3 pe-2">
                 <label>Statusi aktual</label>
                 <select class="form-select option-select" asp-for="ActualStatus"  asp-items="@ViewBag.actualStatus">
                     <option disabled selected>Zgjedh statusin</option>
                 </select>
            </div>
                          
        </div>
        <div class="mb-2 ml-5 pe-2">
             <label for="exampleFormControlTextarea1" class="form-label">Përshkruaj gjendjen ekzistuese dhe mundësit ose barrierat e suksesit:</label>
             <textarea asp-for="Description" class="form-control ml-4" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="btntest d-flex flex-row justify-content-end pt-3 pe-2 pb-4 ">
            <a href='javascript:
           swal({
           title: "A jeni të sigurt?" ,
           icon: "warning" ,
           buttons: {
           cancel:"Jo",
           confirm:{
           text:"Po",
           className:"test",
           } }
           })
           .then((willDelete)=>
            {
            if (willDelete) {
            swal({ title: "U anulua me sukses!",
            icon: "success"}).then(okay => {
            if (okay) {
            window.location.href = "/Crm/Cancel";
            }
            });
            } else {
            swal({
            title: "Te dhenat nuk janë anuluar!",
            icon: "error",
            });
            }
            });'
            class = "btn btn-danger">Anulo
            </a>&nbsp &nbsp
            <button type="submit" asp-controller="Crm" asp-action="SaveAndOpenCase" class="btn btn-primary">Ruaj dhe hap rast</button>&nbsp &nbsp
            <button type="submit" class="btn btn-primary pe-2">Ruaj dhe mbyll</button>
        </div>
    </form>

}
<style>
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

    .tooltiphover .tooltiptext {
        visibility: visible;
    }
</style>

<script asp-append-version="true">


    function disableOption2() {

        let gethelp = document.getElementById("gethelp").value;
        let specificreason = document.getElementById("specific-reason")
        let NdihmaEKerkuar = document.getElementById("NdihmaEKerkuar")

        if (gethelp != "Zgjedhni opsionet..." && gethelp != "1") {

            specificreason.disabled = true;
            NdihmaEKerkuar.disabled = true;

        }
        else{
            specificreason.disabled = false;
            NdihmaEKerkuar.disabled = false;
        }
    }
    function disableOption1() {

        let CanYouManage = document.getElementById("inputGroupSelect02").value;
        let AktivitetePerNdryshim = document.getElementById("AktivitetePerNdryshim")

        if (CanYouManage != "Zgjedhni opsionet..." && CanYouManage != "1") {

            AktivitetePerNdryshim.disabled = true;

        }
        else{
            AktivitetePerNdryshim.disabled = false;

        }
    }













    const Specificreasons = document.querySelector('#general-demand');
    Specificreasons.addEventListener('change', event => {
        var data = document.getElementById("general-demand").value;
        if (event.target.value === "shto") {
            var userId = document.getElementById("userId").value;
            //if (data === "shto") {

            var input = swal("Arsyeja përcaktuese:", {
                content: "input",
                buttons: {
                    cancel: "Anulo",

                    confirm: {
                        text: "Shto",
                        className: "test",
                    }
                }
            }).then((value) => {
                if (value == "") {

                    console.log(value);
                    swal("Ju lutem shkruani të dhëna valide!");
                    return false;

                }
                else if (value !== null) {

                    console.log(value);

                    let item = document.createElement("option");
                    item.value = value;
                    item.innerText = value;
                    Specificreasons.appendChild(item);
                    Specificreasons.value = value;

                }
            });


        }
    });
   

    
 
    const Specificdemands = document.querySelector('#specific-reason');
    Specificdemands.addEventListener('change', event => {
        var data = document.getElementById("specific-reason").value;
        if (event.target.value === "shto") {
            var userId = document.getElementById("userId").value;
            var input = swal("Ndihma e nevojshme:", {
                content: "input",
                buttons: {
                    cancel: "Anulo",

                    confirm: {
                        text: "Shto",
                        className: "test",
                    }
                }
            }).then((value) => {
                if (value == "") {

                    console.log(value);
                    swal("Ju lutem shkruani të dhëna valide!");
                    return false;

                }
                else if (value !== null) {
                    let item = document.createElement("option");
                    item.value = value;
                    item.innerText = value;
                    Specificdemands.appendChild(item);
                    Specificdemands.value = value;
                }
            });
        }
    });
</script>
