@model RegisterVM;
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager
@inject IUnitOfWork _unitOfWork;
@inject IOptionsSnapshot<Roles> _roles;
@{
    Layout = "_DashboardLayout";
    var user = await _userManager.FindByNameAsync(User.Identity.Name);
    var userMuniId = await _unitOfWork.ApplicationUser.GetMunicipalityIdOfUser(user.Id);
    int? userVillageId = await _unitOfWork.ApplicationUser.GetVillageIdOfUser((user.Id));
    int? userNeigborhoodId;
    var roles = _roles.Value;

    if (userVillageId == null)
    {
        userNeigborhoodId = await _unitOfWork.ApplicationUser.GetNeigborhoodIdOfCityForUser(user.Id);
    }
    else
    {
        userNeigborhoodId = await _unitOfWork.ApplicationUser.GetNeigborhoodIdOfVillageForUser(user.Id, userVillageId);
    }
}
@if (User.IsInRole(roles.AnetarIThjeshte))
{
    @if (ViewBag.HasPasswordChange == false)
    {
        <div class="modal fade hide" id="change-password" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title text-center" id="exampleModalLongTitle">Ndrysho fjalëkalimin</h5>
                    </div>
                    <div class="modal-body">
                        <div class="text-align-center justify-content-center pt-2 ">
                            <div class="col-12">
                                <div class="pb-2">
                                    <form>
                                        <div class="mb-3">
                                            <label for="NewPassword" class="form-label">Fjalëkalimi i ri</label>
                                            <div class="d-flex align-items-center">
                                                <input for="NewPassword" id="newPassword" type="password" class="form-control" aria-describedby="emailHelp">
                                                <i class="bi bi-eye-slash fs-5" id="newTogglePassword"></i>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="ConfirmPassword" class="form-label">Konfirmo fjalëkalimin</label>
                                            <div class="d-flex align-items-center">
                                                <input for="ConfirmPassword" id="confirmPassword" type="password" class="form-control" aria-describedby="emailHelp">
                                                <i class="bi bi-eye-slash fs-5" id="confirmTogglePassword"></i>
                                            </div>
                                            <small id="response-text" class="text-danger"></small>
                                        </div>
                                        <button type="submit" id="change-password" class="btn btn-primary btn-lg btn-block mt-3 w-100 py-0"> Ndrysho </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    }
}
<head>
    <link rel="stylesheet" href="~/cssViews/AddVoter.css">
</head>
<script src="~/js/security_stamp_AddVoter.js"></script>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<section class="section">
    <input hidden asp-for="@userMuniId" id="get-user-muniId" />
    <input hidden asp-for="@userVillageId" id="get-user-villageId" />
    <input hidden asp-for="@userNeigborhoodId" id="get-user-neighborhoodId" />
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h2 class="card-title ">Regjistro të dhënat për votuesin</h2>
                        </div>
                        @if (User.IsInRole(roles.KryetarIPartise))
                        {
                            <div>
                                <partial name="_ManualiAdminAddsAdminPartial"></partial>
                            </div>
                        }
                        @if (User.IsInRole(roles.KryetarIKomunes))
                        {
                            <div>
                                <partial name="_ManualiKryetarKomunesAddVoterPartial"></partial>
                            </div>
                        }
                        @if (User.IsInRole(roles.KryetarIFshatit))
                        {
                            <div>
                                <partial name="_ManualiKryetarFshatiAddVoterPartial"></partial>
                            </div>
                        }
                        @if (User.IsInRole(roles.AnetarIThjeshte))
                        {
                            <div>
                                <partial name="_ManualiAntarThjeshtAddVoterPartial"></partial>
                            </div>
                        }
                    </div>


                    <form asp-action="Register" asp-controller="AddsAdmin" method="post" id="listform">
                        <h6 class="pt-4">I - Të dhënat personale</h6>
                        <hr>
                        <div class="pb-3 d-flex pe-2 justify-content-between">
                            <div class="col-12 p">
                                <label asp-for="FullName" class="">Emri dhe mbiemri</label>
                                <input class="form-control" asp-for="FullName" placeholder="Shkruaj emrin dhe mbiemrin">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                        </div>
                        <span>Numri i telefonit</span>
                        <div class="pb-3 pe-2">
                            <div class=" d-flex align-items-center flex-sm-row">
                                <div class="col-4 col-sm-2">
                                    <input asp-for="PrefixPhoneNo" type="text" class="form-control" id="prefix" value="+383">
                                </div>
                                <div class="col-8 ps-2 col-sm-10">
                                    <input class="form-control" asp-for="PhoneNumber" type="number" min="0" placeholder="">
                                </div>
                            </div>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group pb-3 pe-2">
                            <label for="exampleInputEmail1">Email adresa</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" asp-for="Email" placeholder="Shkruaj email adresen">
                            <span asp-validation-for="Email" class="text-danger"></span>
                            @if (ViewBag.UserExist == "Email i dhënë ekziston në sistem!")
                            {
                                <span class="text-danger">@ViewBag.UserExist</span>
                            }
                        </div>
                        <div class="form-group pb-3 pe-2">
                            <label for="InputFacebook">Shkruaj linkun e facebook-ut të personit</label>
                            <input type="text" class="form-control" asp-for="Facebook" id="InputFacebook">
                        </div>
                        <div class="d-flex justify-content-between flex-md-row flex-column">
                            @if (User.IsInRole(roles.KryetarIPartise))
                            {
                                <div class="col-md-4 mb-3 pe-2">
                                    <label asp-for="Municipality">Qyteti</label>
                                    <select class="form-select option-select" asp-for="Municipality" id="munis">
                                        <option disabled selected class="option-select">Zgjedh qytetin...</option>
                                    </select>
                                    <span asp-validation-for="Municipality" class="text-danger"></span>
                                </div>
                                <div class="col-md-4 mb-3 pe-2">
                                    <label>Fshati</label>
                                    <select class="form-select fshati-selected option-select" asp-for="Village" id="villages">
                                        <option value=" " disabled selected selectcard>Zgjedh fshatin...</option>
                                    </select>
                                    <span asp-validation-for="Village" class="text-danger"></span>

                                </div>
                                <div id="neigborhoods-container" class="col-md-4 mb-3 pe-2">
                                    <label>Lagja</label>
                                    <select class="form-select option-select" asp-for="Neigborhood" id="neigborhoods">
                                        <option disabled selected>Zgjedh lagjen...</option>
                                    </select>
                                    <span asp-validation-for="Neigborhood" class="text-danger"></span>
                                </div>
                                <div id="neigborhoodsVillage-container" class="col-md-4 mb-3 pe-2">
                                    <label>Lagja</label>
                                    <select class="form-select option-select" asp-for="Neigborhood" id="neigborhoodsVillage">
                                        <option disabled selected>Zgjedh lagjen...</option>
                                    </select>
                                    <span asp-validation-for="Neigborhood" class="text-danger"></span>
                                </div>
                            }
                            @if (User.IsInRole(roles.KryetarIKomunes))
                            {
                                <div class="col-md-6 mb-3 pe-2">
                                    <label>Fshati</label>
                                    <select class="form-select fshati-selected option-select" asp-for="Village" id="villages">
                                        <option value=" " disabled selected selectcard>Zgjedh fshatin...</option>
                                    </select>
                                    <span asp-validation-for="Village" class="text-danger"></span>

                                </div>
                                <div id="neigborhoods-container" class="col-md-6 mb-3 pe-2">
                                    <label>Lagja</label>
                                    <select class="form-select option-select" asp-for="Neigborhood" id="neigborhoods">
                                        <option disabled selected>Zgjedh lagjen...</option>
                                    </select>
                                    <span asp-validation-for="Neigborhood" class="text-danger"></span>

                                </div>
                                <div id="neigborhoodsVillage-container" class="col-md-6 mb-3 pe-2">
                                    <label>Lagja</label>
                                    <select class="form-select option-select" asp-for="Neigborhood" id="neigborhoodsVillage">
                                        <option disabled selected>Zgjedh lagjen...</option>
                                    </select>
                                    <span asp-validation-for="Neigborhood" class="text-danger"></span>

                                </div>
                            }
                        </div>
                        @if (User.IsInRole(roles.KryetarIFshatit))
                        {
                            <div class=" d-flex justify-content-between flex-sm-row flex-column">
                                <div id="neigborhoodsVillage-container" class="col-md-4 mb-3 pe-2">
                                    <label>Lagja</label>
                                    <select class="form-select option-select" asp-for="Neigborhood" id="neigborhoodsVillage">
                                        <option disabled selected>Zgjedh lagjen...</option>
                                    </select>
                                    <span asp-validation-for="Neigborhood" class="text-danger"></span>

                                </div>
                                <div class="col-md-4 mb-3 pe-2" id="streetByVillage">
                                    <label>Rruga </label>
                                    <select class="form-select option-select" asp-for="Street" id="streets">
                                        <option disabled selected>Zgjedh rrugën...</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3 pe-2" id="streetByNeighborhood">
                                    <label>Rruga</label>
                                    <select class="form-select option-select" asp-for="Street" id="streetsNeighborhood">
                                        <option disabled selected>Zgjedh rrugën...</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3 pe-2">
                                    <label class="">Numri i shtëpisë</label>
                                    <input class="form-control" placeholder="opsionale" min="0" asp-for="HouseNo">
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        }
                        @if (User.IsInRole(roles.KryetarIPartise) || User.IsInRole(roles.KryetarIKomunes) || User.IsInRole(roles.AnetarIThjeshte))
                        {
                            <div class="mb-4 d-flex justify-content-between flex-md-row flex-column">
                                <div class="col-md-4 mb-2 pe-2" id="streetByVillage">
                                    <label>Rruga</label>
                                    <select class="form-select option-select" asp-for="Street" id="streets">
                                        <option disabled selected>Zgjedh rrugën...</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3 pe-2" id="streetByNeighborhood">
                                    <label>Rruga</label>
                                    <select class="form-select option-select" asp-for="Street" id="streetsNeighborhood">
                                        <option disabled selected>Zgjedh rrugën...</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3 pe-2">
                                    <label>Blloku</label>
                                    <select class="form-select option-select" asp-for="Block" id="blocks">
                                        <option disabled selected>Zgjedh bllokun...</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3 pe-2">
                                    <label class="">Numri i shtëpisë</label>
                                    <input class="form-control option-select" placeholder="opsionale" asp-for="HouseNo" min="0">
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        }
                        <h6 class="pt-4">II - Të dhënat profesionale</h6><hr>
                        <div class=" mb-4 d-flex justify-content-between flex-md-row flex-column">
                            <div class="col-md-4 mb-3 pe-2">
                                <label class="">Vendi i punës</label>
                                <input asp-for="WorkPlace" class="form-control">

                                <span asp-validation-for="WorkPlace" class="text-danger"></span>

                            </div>
                            <div class="col-md-4 mb-2 pe-2 ">
                                <label>Sektori</label>
                                <select class="form-select " asp-for="AdministrativeUnit" asp-items="@ViewBag.administrativeUnits">
                                    <option disabled selected>Zgjedh sektorin...</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-3 pe-2">
                                <label class="l">Funksioni</label>
                                <input asp-for="Duty" class="form-control">
                                <span asp-validation-for="Duty" class="text-danger"></span>

                            </div>
                        </div>
                        <h6 class="pt-4">III - Të dhënat partiake<hr></h6>
                        <div class="d-flex justify-content-between flex-sm-row flex-column">
                            <div class="col-md-4 mb-3 pe-2">
                                <label for="FamilyMember" class="">Numri i anëtarëve</label>
                                <input asp-for="FamMembers" type="number" class="form-control" id="FamilyMember" value="1" min="0">
                                <span asp-validation-for="FamMembers" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 mb-3 pe-2">
                                <label>Gjasat e suksesit fillestar</label>
                                <select class="form-select" id="inputGroupSelect05" asp-for="SuccessChance" placeorder="Zgjedh gjasat..." asp-items="@ViewBag.successChances">
                                </select>
                            </div>
                            <div class="col-md-4 mb-3 pe-2" id="pollcenter-villages-container">
                                <label>Qendra e votimit</label>
                                <select class="form-select option-select" id="poll" asp-for="PollCenter">
                                    <option disabled selected>Zgjedh qendren e votimit...</option>
                                </select>
                                <span asp-validation-for="PollCenter" class="text-danger"></span>

                            </div>
                            <div class="col-md-4 mb-3 pe-2" id="pollcenter-neighborhood-container">
                                <label>Qendra e votimit</label>
                                <select class="form-select option-select" id="pollNeighborhood" asp-for="PollCenter">
                                    <option disabled selected>Zgjedh qendrën e votimit...</option>
                                </select>
                                <span asp-validation-for="PollCenter" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-4 d-flex justify-content-between flex-sm-row flex-column">
                            <div class="col-sm-6 mb-3 pe-2">
                                <label>Partia në zgjedhjet lokale</label>
                                <select class="form-select option-select" id="inputGroupSelect04" asp-for="PoliticalSubjectLocal" asp-items="@ViewBag.PS" required>
                                    <option disabled selected>Zgjedh partinë...</option>
                                </select>
                                <span asp-validation-for="PoliticalSubjectLocal" class="text-danger"></span>

                            </div>
                            <div class="col-sm-6 mb-3 pe-2">
                                <label>Partia në zgjedhjet nacionale</label>
                                <select class="form-select option-select" id="inputGroupSelect04" asp-for="PoliticalSubjectNational" asp-items="@ViewBag.PS" required>
                                    <option disabled selected>Zgjedh partinë...</option>
                                </select>
                                <span asp-validation-for="PoliticalSubjectNational" class="text-danger"></span>

                            </div>
                            
                        </div>
                        @if (User.IsInRole(roles.AnetarIThjeshte))
                        {
                            <div class="d-flex flex-row justify-content-end pe-2 pt-3 button-responsive">
                                <a href='javascript:
                               swal({
                               title: "A jeni të sigurtë?" ,
                               icon: "warning" ,
                               buttons: {
                               cancel:"Jo",
                               confirm:{
                               text:"Po",
                               className:"test",
                               }}
                               })
                               .then((willDelete)=>
                                {
                                if (willDelete) {
                                swal({ title: "U anulua me sukses!",
                                icon: "success"}).then(okay => {
                                if (okay) {
                                window.location.href = "/AddsAdmin/AddVoter";
                                }
                                });
                                } else {
                                swal({
                                title: "Te dhënat nuk janë anuluar!",
                                icon: "error",
                                });
                                }
                                });'
                                class ="btnanulo btn btn-danger">Anulo
                                </a>&nbsp &nbsp
                                <button asp-action="SaveAndOpenCase" asp-controller="AddsAdmin" id="BtnRuajDheHapRast" class="btn btn-primary pe-2 button-responsive">Ruaj dhe hap rast</button>&nbsp &nbsp
                            </div>
                        }
                        else
                        {
                            <div class="d-flex flex-row justify-content-end pe-2 pt-3 button-responsive ">
                                <a href='javascript:
                               swal({
                               title: "A jeni të sigurtë?" ,
                               icon: "warning" ,
                               buttons: {
                               cancel:"Jo",
                               confirm:{
                               text:"Po",
                               className:"test",
                               }}
                               })
                               .then((willDelete)=>
                                {
                                if (willDelete) {
                                swal({ title: "U anulua me sukses!",
                                icon: "success"}).then(okay => {
                                if (okay) {
                                window.location.href = "/AddsAdmin/AddVoter";
                                }
                                });
                                } else {
                                swal({
                                title: "Te dhënat nuk janë anuluar!",
                                icon: "error",
                                });
                                }
                                });'
                                class ="btnanulo btn btn-danger">Anulo
                                </a>&nbsp &nbsp

                                <button type="submit" asp-action="SaveAndOpenCase" asp-controller="AddsAdmin" class="btn btn-primary pe-2 button-responsive">Ruaj dhe hap rast</button>&nbsp &nbsp

                                <button type="submit" class="btn btn-primary pe-2 button-responsive ">Ruaj dhe mbyll</button>

                            </div>

                        }

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

</script>
<script src="~/js/security_stamp.js"></script>
<script>
    document.getElementById("BtnRuajDheHapRAst").click{
        swal({
            title: "U regjistrua me sukses!",
            icon: "warning",
            className: "test",
        }
    }

</script>
<style>
    #togglePassword, #togglePassword2 {
        margin-left: -30px;
        cursor: pointer;
    }
</style>
@if (User.IsInRole(roles.KryetarIKomunes))
{
    @section Scripts
    {

    <script>
        var strValue = "@((string)ViewBag.SaveAndOpenAdd)";
            if (strValue !== null && strValue !== "") {
                swal({
                    icon: "success",
                    text: "Të dhënat u regjistruan me sukses!",
                    timer: 2000,
                    buttons: false,
                })
            }
        </script>
        <script src="~/js/add_votter_kryetari_komunes.js"> </script>
 }
}
else if (User.IsInRole("KryetarIFshatit"))
{
    @section Scripts
    {
    <script>
        var strValue = "@((string)ViewBag.SaveAndOpenAdd)";
            if (strValue !== null && strValue !== "") {
                swal({
                    icon: "success",
                    text: "Të dhënat u regjistruan me sukses!",
                    timer: 2000,
                    buttons: false,
                })
            }
        </script>
        <script src="~/js/add_votter_kryetari_fshatit.js"> </script>
 }
}
else if (User.IsInRole("AnetarIThjeshte"))
{
    @section Scripts
    {
     <script>
              var strValue = "@((string)ViewBag.SaveAndOpenAdd)";
                  if (strValue !== null && strValue !== "") {
                      swal({
                          icon: "success",
                    text: "Të dhënat u regjistruan me sukses!",
                          timer: 2000,
                          buttons: false,
                      })
                  }
        </script>
        <script src="~/js/add_votter_antari_thjesht.js"> </script>
    }
}
else
{
    @section Scripts
    {
    <script>
        var strValue = "@((string)ViewBag.SaveAndOpenAdd)";
            if (strValue !== null && strValue !== "") {
                swal({
                    icon: "success",
                    text: "Të dhënat u regjistruan me sukses!",
                    timer: 2000,
                    buttons: false,
                })
            }
        </script>
        <script src="~/js/add_votter_admin.js">  </script>
    }
}
